.jumbotron-bg {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 50px;
  padding-top: 25px;
}

.btn-primary--turbo {
  margin-top: 50px;
  margin-left: 25px;
}

.skills {
  max-width: 1000px;
}

/* Progress map table */

.path-container {
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  margin: 25px 0;
  padding: 24px;
  padding-top: 0;

}
